spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:mysql://localhost:3306/consultorio?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: seu_usuario_mysql
    password: sua_senha_mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

jwt:
  secret: altere_esta_chave_secreta_para_algo_seguro_com_pelo_menos_256_bits
  expiration: 24

server:
  port: 8080
